@font-face {
  font-family: Poppins;
  src: url("../Font/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-light;
  src: url("../Font/Poppins/Poppins-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #ffffff;
  --para-color: #5e5e5e;
  --primary-color: #95a986;
  --heading-color: #0d0d0d;
  --poppins: Poppins;
  --poppins-light: Poppins-light;
}
body,
html {
  overflow-x: hidden;
}

.nav-container{
  max-width: 1750px !important;
}
.container {
  max-width: 1490px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-5 {
  width: calc(5 * 8.33%);
  padding: 0 15px;
}
.col-4 {
  width: calc(4 * 8.33%);
  padding: 0 15px;
}
.col-3 {
  width: calc(3 * 8.33%);
  padding: 0 15px;
}
.col-7 {
  width: calc(7 * 8.33%);
  padding: 0 15px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
.title1 {
  font-size: 68px;
  font-weight: 700;
  color: var(--heading-color);
}
.title2 {
  font-size: 45px;
  font-weight: 400;
  color: var(--heading-color);
}

.title3{
  font-size: 24px;
  font-weight: 700;
}
.title6 {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--poppins);
  color: var(--primary-color);
}
p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: var(--para-color);
  text-align: center;
  margin-block: 35px;
}

/*  HEADER SECTION  */

.hdr-sec {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
.hdr-top{
  background: #000;
}
.hdr-btm{
  padding: 21px 0;
}
.hdr-top>p{
  color: var(--text-color);
  margin: 0;
}
.nav-logo > a {
  max-width: 312px;
}

.nav-logo > a > ul {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav,
.nav-collapsed,
.nav-collapsed > ul {
  display: flex;
  align-items: center;
}

.nav-collapsed {
  flex-grow: 1;
}

.nav-links {
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--poppins);
  font-weight: 400;
  margin-left: 56px;
  position: relative;
}

.nav-links::after{
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 50%;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s linear;
}

.nav-links:hover::after{
  content: '';
  opacity: 1;
}
.nav-icons > a {
  align-items: center;
  font-family: var(--poppins-light);
  color: var(--text-color);
}
.nav-collapsed > ul {
  margin-left: auto;
}
.last-link {
  margin-right: 78px;
}
.search-icon {
  margin-right: 22px;
}
.cart-icon {
  margin-left: 44px;
}

/* BANNER-SECTION */

.bnr-sec {
  background: url("../assets/banner-img.png") no-repeat center/ cover;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  /* z-index: -1; */
}

.card {
  background: white;
  max-width: 793px;
  margin: 0 auto;
  padding: 75.5px 59.5px;
  border-radius: 20px;
  text-align: center;
  /* position: absolute;
  top: 188px;
  right: 203px;
  left: 337px; */
}
.button {
  background: var(--primary-color);
  padding: 28.5px 38.5px;
  border-radius: 60px;
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: 400;
  color: var(--heading-color);
  display: block;
  margin: 0 auto;
  width: fit-content;
}

/*  ABOUT-SECTION  */

.about-sec {
  padding: 111px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img{
  display: flex;
  align-items: center;
}
.col-5 > p {
  text-align: start;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--poppins);
  margin-top: 21px;
  margin-bottom: 14px;
}
.col-5 > .title2 {
  margin-top: 6px;
}
.about-img1{
  max-width: 425px;
  margin-right: 24px;
  
}

.about-img1>img,
.about-img2>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-img2{
  max-width: 303px;
  
}
.about-img1>img{
  border-bottom-right-radius: 30px;
}
.about-img2>img{
  border-top-right-radius: 30px;
}

/* ADVANTAGES WE OFFER SECTION */

.advantages-sec{
  padding: 120px 0;
 
}
.advantage-cntn{
 text-align: center;
}

.advantage-cntn  .title2{
    margin-top: 19px;
    margin-bottom: 92px;
}

/* .advantage-offer-cards{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.advantage-cards{
  max-width: 230px;
   margin: 0 auto;
}

.card-img {
  max-width: 111px;
  margin: 0 auto;
}
 .card-img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-cntn{
  max-width: 230px;
}
.card-cntn .title3{
      text-align: center;
      margin-bottom: 5px;
      margin-top: 32px;
}

 /* <!-- OUR MISSION SECTION --> */

 .our-mission-sec{
  background: url('../assets/ourmission-bg.png')no-repeat center/cover;
  padding: 133px 0;
 }
 .mission-cntn p{
  text-align: start;
 }

 .our-mission-img{
  margin-right: auto;
  position: relative;
 }
 .big{
  
  max-width: 641px;
  margin: 0 auto;
 }

 .small{
  max-width: 326px;
   position: absolute;
       bottom: -56px;
    right: -4px;
 }
.big>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.small>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid white;
  border-top-left-radius: 20px;
}

.menu {
  display: none;
  border: none;
  background: none;
  position: relative;
  z-index: 999;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  display: none;
}

.menu span {
  display: inline-block;
  height: 3px;
  width: 30px;
  background: var(--primary-color);
  transition: 0.5s linear;
}

.menu::after,
.menu::before {
  content: "";
  height: 3px;
  width: 30px;
  background: var(--heading-color);
  position: absolute;
  transition: 0.5s linear;
}

.menu::after {
  top: 2px;
  left: 0;
}
.menu::before {
  bottom: -3px;
}

.menu.animate span {
  transform: translateX(50px);
  opacity: 0;
}

.menu.animate::after {
  transform: rotate(-45deg) translateX(-10px);
}
.menu.animate::before {
  transform: rotate(45deg) translateX(-9px);
}

/*============ 
 RESPONSIVE
 ============= */

@media screen and (max-width: 1296px) {
  .nav-collapsed {
    position: fixed;
    top: 0;
    right: -100%;
    /* bottom: 0; */
    width: 60%;
    height: 100vh;
    background: #496831;
    backdrop-filter: blur(20px);
    transition: 0.5s linear;
    flex-direction: column;
  }
  .menu {
    display: block;
  }
  .active {
    right: 0 !important;
  }
}

@media screen and (max-width: 1284px) {
  
  .card > .title1{
        font-size: 60px;
     }


}


@media screen and (max-width: 1245px) {
  
  .card > .title1 {
    font-size: 55px;
  }
  .card > p {
    font-size: 13px;
    margin-block: 20px;
  }
  .button {
    font-size: 10px;
    padding: 18.5px 28.5px;
  }
}

@media screen and (max-width: 992px) {
 
  .col-5 {
    width: 100%;
  }
  .col-7{
    width: 100%;
  }
  
.col-3{
  width: 50%;
  margin-bottom: 40px;
}
  

    .card > .title1 {
    font-size: 50px;
  }

.about-img{
  margin-top: 40px;
  justify-content: center;
  }

  .mission-cntn{
    padding-top: 30px ;
  }
  
  .big{
    max-width: 500px;
  }
  .small{
            max-width: 200px;
        bottom: -56px;
        right: 2px;
  }
}

@media screen and (max-width: 768px) {
  .card > .title1 {
    font-size: 50px;
  }
  .card > p {
    font-size: 7px;
    margin-block: 20px;
  }

 
}
@media screen and (max-width: 590px) {

    
   .card>.title1{
        font-size: 25px;
      }
    
       .card > p {
    font-size: 10px;
    margin-block: 15px;
  }

  .button {
    font-size: 8px;
    padding: 11.5px 28.5px;
  }
}
@media screen and (max-width: 483px) {
   .col-3{
    width:100% ;
   }     
}

@media  screen  and (max-width:536px){
  .small{
    display: none;
  }


  .nav-logo > a{
    max-width: 200px;
  }
 
  .nav-logo > a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
