@font-face {
    font-family: Poppins;
    src: url('../Font/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-light;
    src: url('../Font/Poppins/Poppins-Light.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   --text-color:#FFFFFF;
   --para-color:#5E5E5E;
   --primary-color:#95A986;
   --heading-color:#0D0D0D;
   --poppins: Poppins;
   --poppins-light:Poppins-light;

}
body,html{
    overflow-x: hidden;
}
.container{
    max-width: 1749.97px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-5{
    width: calc(5*8.33%);
    padding: 0 15px;
}
.col-4{
    width: calc(4*8.33%);
    padding: 0 15px;
}
.col-3{
    width: calc(3*8.33%);
    padding: 0 15px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.title1{
    font-size: 68px;
    font-weight: 700;
    color: var(--heading-color);
}
.title2{
  font-size: 45px;
  font-weight: 400;
  color: var(--heading-color);
}
.title6{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--poppins);
    color: var(--primary-color);
}
p{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--poppins);
    color: var(--para-color);
    text-align: center;
    margin-block: 35px;
}

/*  HEADER SECTION  */

.hdr-sec{
 padding: 15px 0;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   z-index: 100;
}
.nav-logo > a{
 max-width: 312px;
}

.nav-logo > a >ul{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav, .nav-collapsed,
.nav-collapsed>ul{
    display: flex;
    align-items: center;
}

.nav-collapsed{
    flex-grow: 1;
}

.nav-links{
    color:var(--text-color);
    font-size: 16px;
    font-family:var(--poppins);
    font-weight: 400;
    margin-left: 56px;
}
.nav-links:hover{
    color: var(--primary-color);
}
.nav-icons > a{
    align-items: center;
    font-family: var(--poppins-light);
    color: var(--text-color);
}
.nav-collapsed > ul{
    margin-left: auto;
}
.last-link{
    margin-right: 78px;
}
.search-icon{
    margin-right: 22px;
}
.cart-icon{
    margin-left: 44px;
}

/* BANNER-SECTION */

.bnr-sec{
     background: url("../assets/banner-img.png") no-repeat center/ cover;
    min-height: 100vh;
    position: relative;
    /* z-index: -1; */
}

.card{
    background: white;
    max-width: 793px;
    padding: 75.5px 59.5px;
    border-radius: 20px;
    position: absolute;
    top: 224px;
    right: 203px;
    left: 310px;
}
.button{
    background: var(--primary-color);
    padding: 28.5px 38.5px;
    border-radius: 60px;
    letter-spacing: 5px;
    font-size: 18px;
    font-weight: 400;
    color: var(--heading-color);
    display: block;
    margin: 0 auto;
    width: fit-content;
}

/*  ABOUT-SECTION  */

.about-sec{
    padding: 111px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-5>p{
    text-align: start;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--poppins);
    margin-top: 21px;
    margin-bottom: 14px;
}
.col-5>.title2{
    margin-top: 6px;
}

.menu {
 display: none;
  border: none;
  background: none;
  position: relative;
  z-index: 999;
  margin-left: auto; 
  display: flex;
  align-items: center;
  flex-direction: column;
  display: none;
}

.menu span{
  display: inline-block;
  height: 3px;
  width: 30px;
  background:var(--primary-color);
   transition: 0.5s linear;
}

.menu::after,
.menu::before{
  content: "";
  height: 3px;
  width: 30px;
  background:var(--heading-color);
  position: absolute;
   transition: 0.5s linear;
}

.menu::after{
  top: 2px;
  left: 0;
}
.menu::before{
  bottom: -3px;
}

.menu.animate span{
  transform: translateX(50px);
  opacity: 0;
}

.menu.animate::after{
  transform: rotate(-45deg) translateX(-10px);
}
.menu.animate::before{
  transform: rotate(45deg) translateX(-9px);
}

/*============ 
 RESPONSIVE
 ============= */

 @media screen and (max-width:1296px){
    .nav-collapsed{
     position: fixed;
     top: 0;
     right: -100%;
     /* bottom: 0; */
     width: 60%;
     height: 100vh;
     background: #496831;
     backdrop-filter: blur(20px);
     transition: 0.5s linear;
     flex-direction: column;
    }
    .menu {
    display: block;
   
  }
  .active {
    right: 0 !important;
  }
 }

 @media screen and (max-width:1284px){
    .about-sec .row{
       flex-wrap: wrap-reverse;
    } 
     /* .card > .title1{
        font-size: 67px;
     } */
 }

 @media screen and (max-width:1245px){

    .card{
        max-width: 680px;
    }
   .card > .title1{
        font-size: 40px;
     }
     .card>p{
        font-size: 13px;
        margin-block: 20px ;
     }
     .button{
        font-size:7px ;
        padding:11.5px 28.5px;
     }

 }

 @media screen and (max-width:992px){
    .col-4 , .col-3{
        width: 50%;
    }
    .col-5{
        width: 100%;
    }
 }

 @media screen and (max-width:768px){
   .card > .title1{
        font-size: 15px;
    }
     .card>p{
        font-size: 7px;
        margin-block: 20px ;
     }
 }
 @media screen and (max-width:590px){
    .col-4 , .col-3{
        width: 100%;
    }
 }